/* Provide sufficient contrast against white background */
a {
  color: white;
}

code {
  color: #E01A76;
}

label.label input[type="file"] {
    position: absolute;
    top: -1000px;
}

.label {
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    background: #dddddd;
    display: inline-block;
}

    .label:hover {
        background: #5cbd95;
    }

    .label:active {
        background: #9fa1a0;
    }

    .label:invalid + span {
        color: #000000;
    }

    .label:valid + span {
        color: #ffffff;
    }

/* Provide sufficient contrast against white background */
a {
    color: white;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: seagreen;
    border-color: #1861ac32;
}

.btn-secondary {
    color: #fff;
    background-color: seagreen;
    border-color: #1861ac32;
    display: inline-block;
}

h1 {
    text-align: center;
    color: white;
}

body {
    background-color: dimgray;
}

btn {
    color: seagreen;
    border-color: #1861ac32;
    position: center;
}

input.form-control {
    width: 25%;
    position: center;
}

select.form-control {
    width: 25%;
}

p, header, li, tr, h2, h3, h5 {
    color: white;
}